.dede{
	width: 100%;
	background-color: white;
	border: none;
}
.ama{
	margin: 3px;
	border: none;
}
.kojo{
	margin: 3px;
	color: white;

}
.akos{
	margin: 5px;
}
.prince{
	text-align: center;
	padding: 30px;
}
.obed{
	padding-top: 100px;
}
.abi{
	height: 100px;
	width: 150px;
}